<h3><u>Add a new customer</u></h3>
<form class="form-inline" ng-submit="add()">
    <label>Customer Name:</label>
    <input class="form-control" ng-model="customer.name" placeholder="Customer Name...">
    <button class="btn btn-primary" ng-disabled="!customer.name || customer.name.length < 2">Add</button>
</form>
<br>
<div class="col-md-offset-9 col-md-3">
    <input class="form-control" ng-model="search.name" placeholder="Search Name...">
</div>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="customer in customers | orderBy:'-createdAt' | filter:search">
            <td>{{customer.name}}</td>
            <td>{{customer.createdAt | date:'MMM dd, yyyy-hh:mm:ss a' }}</td>
            <td><button class="btn btn-warning" ng-click="remove(customer._id)">Remove</button></td>
        </tr>
    </tbody>
</table>
